@import '~antd/dist/antd.css';

.logo {
    width: 120px;
    height: 66px;
    /*background: #3c9939;*/
    /*margin: 16px 24px 16px 0;*/
    float: left;
}
.logo .text {
    /*margin: 16px 24px 16px 0;*/
}
.ant-carousel .slick-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 320px;
    line-height: 320px;
    background: #793c1e;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    /*color: #fff;*/
}

.code-box-shape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: #019bf0;
}
.banner-user{
    height: 360px;
}
.banner-user-elem{
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.banner-user-elem .banner-user-title{
    font-size: 32px;
    top: 40%;
}
.banner-user-elem .banner-user-text{
    top: 40%;
}
.banner-anim-elem .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
