.logo {
    /*background-color: cadetblue;*/
    font-size: 30px;
    text-align: center;
}

.header {
    background-color: #fff;
    border-bottom: 2px solid #e8e8e8;

}

.header .menu {
    /*height: 64px;*/
    line-height: 60px;
    float: right;
}